body {
    font-size: 18px;
    margin: 0;
}
header {
    background-color: rgb(0, 102, 255);
    height: 150px;
    background-repeat: repeat;
    background-image: url(../img/pattern.png);
    background-size: 30%;
}

h1 {
    font-size: 50px;
}

h3 {
    color: gray;
    font-size: 20px;
}

h3 span {
    color: rgb(40, 191, 241);
}

#booleaner {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 200px;
    width: 250px;
}

.intestazione {
    color: gray;
    line-height: 1px;
}

#Tim {
    line-height: 1px;
    font-size: 12px;
}

#giallo {
    background-color: yellow;
}

#headtable{
    background-color: rgb(92, 211, 247);
    color: white;
    text-align: left;
}

table {
    border-spacing: 0px;
}

.celle_azzurre {
    background-color: rgb(206, 234, 243);
}

#consigliati_1 {
    background-image: url(../img/monitor.jpg);
}

#consigliati_2 {
    background-image: url(../img/graph.jpg);
}
.cellastretta {
    width: 50%;
}
.valori_immagini {
    width: 275px;
    height: 200px;
    color: white;
    font-size: 25px;
    padding: 10px;
}
ul {
    padding: 20px;
}